<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apps_by_nathan05.fourdigitdatecodeconverter">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".DateToDateCode"
            android:label="@string/title_activity_date_to_date_code"></activity>
        <activity
            android:name=".DateCodeToDate"
            android:label="@string/title_activity_date_code_to_date" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-6270945777512054~7544682133"/>
        <!--Sample AdMob App ID: ca-app-pub-3940256099942544~3347511713
        android:value="YOUR_ADMOB_APP_ID"/>-->

    </application>

</manifest>